<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="none-layout">

<body class="grey">
<th:block layout:fragment="content">
    <div class="main-wrap">
        <div class="main-inner">
            <form action="" id="pwChform">
            <div class="loginBox join">
                <h2 class="logo"><a href="/eq-res?rs_cate_id=7"></a></h2>
                    <th:block th:if="${not #strings.isEmpty(user.email) || not #strings.isEmpty(user.phone)}">
                    <label for="email">이메일</label>
                    <input type="text" placeholder="이메일" id="email" name="email" th:value="${user.email}">
                    <label for="phone">연락처</label>
                    <input type="phone" id="phone" name="phone" placeholder="- 없이 숫자만 입력하세요" oninput="this.value = this.value.replace(/[^0-9]/g, '');" th:value="${user.phone}">
                    </th:block>
                    <th:block th:if="${#strings.isEmpty(user.email) || not #strings.isEmpty(user.phone)}">
                    <label for="email">이메일</label>
                    <input type="text" placeholder="이메일" id="email" name="email">
                    <label for="phone">연락처</label>
                    <input type="phone" id="phone" name="phone" placeholder="- 없이 숫자만 입력하세요" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                    </th:block>
                    <label for="password">비밀번호</label>
                    <input type="password" placeholder="비밀번호" id="password" name="password">
                    <label for="password_cf">비밀번호 확인</label>
                    <input type="password" placeholder="비밀번호 확인" id="password_cf" name="password_cf">
                    <button type="button" class="joinBtn" id="pwChBtn">변경하기</button>
            </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" th:src="'assets/js/'+${jsFileName}+'.js'"></script>
</th:block>
</body>
</html>
