<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.abrc.mapper.BoardGroupMapper">
    <select id="selectBoardGroupOne4Used" parameterType="String" resultType="com.webapp.abrc.domain.BoardGroupVO">
        SELECT *
          FROM TBL_BOARDGROUP
         WHERE bgno=#{bgno}
    </select>
</mapper>