<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.abrc.mapper.BoardMapper">
    <sql id="includeBoard">
        WHERE BGNO=#{bgno} AND brddeleteflag='N'
         <if test="searchKeyword!=null and searchKeyword!='' and searchType!=''">
              <foreach item="item" index="index" collection="searchTypeArr" separator=" OR " open="AND (" close=")">
                     TB.${item} LIKE CONCAT('%', #{searchKeyword},'%' )
              </foreach>
        </if>
    </sql>
    <select id="selectBoardCount" resultType="Integer" parameterType="com.webapp.abrc.domain.SearchVO">
        SELECT COUNT(*)
            FROM TBL_BOARD TB
        <include refid="includeBoard"/>
        <if test="usr_no != null and usr_no !=''">
            AND TB.usr_no=#{usr_no}
        </if>
        <if test="usr_no == null">
            AND TB.usr_no is null
        </if>
    </select>

    <select id="selectBoardList" resultType="com.webapp.abrc.domain.BoardVO" parameterType="com.webapp.abrc.domain.SearchVO">
        SELECT
            brdno, brdtitle, brdwriter, DATE_FORMAT(brddate,'%Y-%m-%d') brddate, brdhit,
                (SELECT COUNT(*) FROM TBL_BOARDFILE WHERE brdno=TB.brdno) FILECNT,
                (SELECT filename  FROM TBL_BOARDFILE WHERE brdno=TB.brdno order by fileno DESC limit 1) filename,
                (SELECT realname  FROM TBL_BOARDFILE WHERE brdno=TB.brdno order by fileno DESC limit 1) realname,
                user_id,brdmemo,usr_no

        FROM TBL_BOARD TB
         <include refid="includeBoard"/>
        <if test="usr_no != null and usr_no !=''">
            AND TB.usr_no=#{usr_no}
        </if>
        <if test="usr_no == null">
            AND TB.usr_no is null
        </if>
         ORDER BY brdno DESC
        <if test="displayRowCount != null and displayRowCount != ''">
            LIMIT ${rowStart-1}, ${displayRowCount}
        </if>
        <if test="displayRowCount == null">
            LIMIT ${rowStart-1}, 10
        </if>
    </select>

    <select id="selectBoardOne" parameterType="String" resultType="com.webapp.abrc.domain.BoardVO">
        SELECT
            bgno, brdno, brdtitle, BRDWRITER, BRDMEMO, DATE_FORMAT(brddate,'%Y-%m-%d') brddate, user_id, usr_no, brdhit
        FROM TBL_BOARD TB
        WHERE BRDDELETEFLAG='N'
        AND BRDNO=#{brdno}
    </select>

    <insert id="insertBoard" parameterType="com.webapp.abrc.domain.BoardVO" >
        <selectKey resultType="String" keyProperty="brdno" order="BEFORE">
            SELECT IFNULL(MAX(BRDNO),0)+1 FROM TBL_BOARD
        </selectKey>

        INSERT INTO TBL_BOARD(bgno, brdno, brdtitle, brdwriter, brdmemo, brdhit, brddeleteflag, user_id, usr_no)
        VALUES (#{bgno}, #{brdno}, #{brdtitle}, #{brdwriter}, #{brdmemo}, 0, 'N',#{user_id}, #{usr_no})
    </insert>

    <update id="updateBoard" parameterType="com.webapp.abrc.domain.BoardVO">
        UPDATE TBL_BOARD
           SET brdtitle=#{brdtitle}
             , brdwriter=#{brdwriter}
             , brdmemo=#{brdmemo}
        WHERE BRDDELETEFLAG='N'
          AND BRDNO=#{brdno}
    </update>

    <delete id="deleteBoard" parameterType="hashmap">
    	UPDATE TBL_BOARD
            SET BRDDELETEFLAG='Y'
        WHERE BRDNO=#{brdno}
    </delete>

    <delete id="deletelist" parameterType="com.webapp.abrc.domain.CommonVO">
        <![CDATA[
        delete from ${table_name} where ${pk} in
        ]]>
        <foreach collection="chk" item="item" open="(" separator="," close=")">
             #{item}
        </foreach>
    </delete>

    <insert id="insertBoard8File" parameterType="com.webapp.abrc.domain.FileVO" >
        INSERT INTO TBL_BOARDFILE (brdno, filename, realname, filesize)
        VALUES (#{parentPK}, #{filename}, #{realname}, #{filesize})
    </insert>

    <delete id="deleteBoard8File" parameterType="hashmap">
        DELETE
            FROM TBL_BOARDFILE
            WHERE fileno IN (
                <foreach item="item" index="index" collection="fileno" separator=",">
                    ${item}
                </foreach>
        )
    </delete>

    <update id="updateBoard8Read" parameterType="String">
        UPDATE TBL_BOARD
           SET BRDHIT = BRDHIT + 1
         WHERE BRDNO=#{brdno}
    </update>

    <select id="selectBoard8FileList" resultType="com.webapp.abrc.domain.FileVO" parameterType="String">
        SELECT fileno, filename, realname, filesize
          FROM TBL_BOARDFILE
         WHERE brdno=#{brdno}
         ORDER BY fileno DESC
    </select>

    <select id="selectBoard8ReplyList" resultType="com.webapp.abrc.domain.BoardReplyVO" parameterType="String">
        SELECT BRDNO, RENO, REWRITER, user_id, REDELETEFLAG, REMEMO, DATE_FORMAT(REDATE,'%Y-%m-%d %H:%i') REDATE, REPARENT, REDEPTH, REORDER
          FROM TBL_BOARDREPLY
         WHERE BRDNO=#{brdno} AND REDELETEFLAG='N'
         ORDER BY REORDER
    </select>

    <insert id="insertBoard8Reply" parameterType="com.webapp.abrc.domain.BoardReplyVO" >
        <selectKey resultType="String" keyProperty="reno" order="BEFORE">
            SELECT IFNULL(MAX(RENO),0)+1 FROM TBL_BOARDREPLY
        </selectKey>

        INSERT INTO TBL_BOARDREPLY(BRDNO, RENO, REWRITER, user_id, REDELETEFLAG, REMEMO, REDATE, REORDER, REPARENT, REDEPTH)
        VALUES (#{brdno}, #{reno}, #{rewriter}, #{user_id}, 'N', #{rememo}, NOW(), #{reorder},
                   <choose>
                       <when test="reparent==null">#{reno}, 0</when>
                       <otherwise>#{reparent}, #{redepth}</otherwise>
                   </choose>
               )
    </insert>

    <select id="selectBoard8ReplyParent" resultType="com.webapp.abrc.domain.BoardReplyVO" parameterType="String">
        SELECT BRDNO, REDEPTH+1 REDEPTH, REORDER
          FROM TBL_BOARDREPLY
         WHERE RENO=#{reparent}
    </select>

    <update id="updateBoard8ReplyOrder" parameterType="com.webapp.abrc.domain.BoardReplyVO">
        UPDATE TBL_BOARDREPLY
           SET REORDER = REORDER + 1
         WHERE BRDNO=#{brdno} AND REORDER>#{reorder}
    </update>

    <select id="selectBoard8ReplyMaxOrder" resultType="Integer" parameterType="String">
        SELECT IFNULL(MAX(REORDER),0)+1
          FROM TBL_BOARDREPLY
         WHERE BRDNO=#{brdno}
    </select>

    <update id="updateBoard8Reply" parameterType="com.webapp.abrc.domain.BoardReplyVO">
        UPDATE TBL_BOARDREPLY
           SET REMEMO=#{rememo}
         WHERE RENO=#{reno}
    </update>

    <select id="selectBoard8ReplyChild" resultType="Integer" parameterType="String">
        SELECT COUNT(*)
          FROM TBL_BOARDREPLY
         WHERE REPARENT=#{reparent} AND RENO!=#{reparent} AND REDELETEFLAG='N'
    </select>

    <update id="updateBoard8ReplyOrder4Delete" parameterType="com.webapp.abrc.domain.BoardReplyVO">
        UPDATE TBL_BOARDREPLY TBR1
         INNER JOIN TBL_BOARDREPLY TBR2 ON TBR2.BRDNO=TBR1.BRDNO AND TBR1.REORDER >TBR2.REORDER AND TBR1.REDELETEFLAG='N'
           SET TBR1.REORDER = TBR1.REORDER - 1
         WHERE TBR2.RENO=#{reno}
    </update>

    <update id="deleteBoard8Reply" parameterType="String">
        UPDATE TBL_BOARDREPLY
           SET REDELETEFLAG='Y'
         WHERE RENO=#{reno}
    </update>
</mapper>